{% extends 'base.html' %}

{% block title %}註冊使用者{% endblock %}

{% block main %}
    <div class="container">
        <div class="page-header">
            <h1>註冊使用者</h1>
        </div>
        <form method="post" action="{{ url_for('register') }}" class="form-group">
            <div class="col">{{ form.username.label }}{{ form.username }}</div>
            <div class="col">{{ form.password.label }}{{ form.password }}</div>
            <div class="col">{{ form.password2.label }}{{ form.password2 }}</div>
            <div class="col-2">
                <button type="submit" class="btn btn-success col">登入</button>
            </div>
        </form>
    </div>
{% endblock %}